In [2]:
import os
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('./myfile.csv')
df.head()

      name  age
0    Alice   30
1      Bob   25
2  Charlie   35
3    Diana   28
4    Ethan   40